html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  background-color: $bgc_color;
  color: $black;
  font-family: $gilroy;
  text-wrap: balance;
  margin: 0 auto;
  width: 1440px;
}
