/*Colors*/
$light_green: #75bf7a;
$black: #000000;
$light_grey: #9e9da2;
$purple: #272042;
$light_purple: #8b8ba5;
$bgc_color: #f9f9f9;
$white: #ffffff;
$opacity_grey: #dadada;

/*Fonts*/
$gilroy: Raleway;
