.download {
	@include flex_row;
	// margin-top: 54px;
	margin-left: -65px;
	.download_wrap {
		margin-top: 66px;
		margin-right: 52px;
		h1 {
			margin-top: 97px;
			font-weight: 800;
			font-size: 60.73px;
			line-height: 65.91px;
		}
		p {
			margin-top: 24px;
			width: 611px;
			font-weight: 500;
			font-size: 24px;
			line-height: 27px;
		}
	}
}
.download_img {
	margin-top: 53px;
}
.buttons_wrap {
	@include flex_row;
	margin-top: 76px;
	span {
		margin-right: 30px;
	}
}
