.footer_wrap {
	width: 1440px;
	display: flex;
	flex-direction: column;
	margin-bottom: 243px;
}

.footer {
	border-top: 1px solid #ececec;
	border-bottom: 1px solid #ececec;
	background-color: $white;
	margin-bottom: 38px;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	padding: 68px 0 38px 160px;
}

.footer_subtitle {
	font-size: 16px;
	font-weight: 400;
	line-height: 19.2px;
	color: $light_green;
	align-self: center;
}

.footer_logo {
	width: 131px;
	height: 38px;
	margin-right: 91px;
	margin-left: -15px;
}
.footer_list {
	list-style: none;
	margin-right: 96px;
}

.footer_list-second {
	margin-right: 128px;
}
.list-item_title {
	color: $purple;
	font-size: 22px;
	font-weight: 500;
	line-height: 26.69px;
	padding-bottom: 6px;
}

.list-item_link {
	color: $light_purple;
	font-size: 18px;
	font-weight: 400;
	line-height: 21.6px;
}
.footer_list-item {
	padding-bottom: 15px;
}
.footer_list-item:last-child {
	padding-bottom: 0;
}

.footer_btns {
	@include flex_row;
	span:first-child {
		margin-right: 40px;
	}
}
