.header {
	@include flex_row;
	align-items: center;
	justify-content: space-between;
	background-color: $white;
	padding: 85px 80px 38px 80px;
	width: 1440px;
	@media (max-width: 720px) {
		padding: 46px 20px 29.65px 20px;
		width: 360px;
	}
}

.list {
	@include flex_row;
	align-items: center;
	ul {
		@include flex_row;
		li {
			margin-right: 46px;
			font-weight: 500;
			font-size: 17.16px;
			line-height: 20.82px;
			cursor: pointer;
		}
	}
	@media (max-width: 720px) {
		display: none;
	}
}
.list_item-link {
	color: $black;
	cursor: pointer;
}
.button_green {
	color: $white;
	background-color: $light_green;
	border-radius: 5.95px;
	padding: 12px 27px 11px 28px;
	font-weight: 600;
	font-size: 22px;
	line-height: 26.95px;
	@media (max-width: 720px) {
		display: none;
	}
}
.header_mobile_menu_btn {
	display: none;
	@media (max-width: 720px) {
		display: block;
		padding-right: 3px;
	}
}
@media (max-width: 720px) {
	.header_logo {
		width: 93px;
		height: 26.35px;
	}
}
