.how-works {
	margin-top: 128px;
	display: flex;
	flex-direction: column;
	align-items: center;
	@media (max-width: 720px) {
		margin-top: 43px;
	}
	h2 {
		font-size: 46.39px;
		font-weight: 800;
		line-height: 50.35px;
		margin-bottom: 23px;
		@media (max-width: 720px) {
			font-size: 24px;
			margin-bottom: 8px;
			// order: 1;
		}
	}
	h2 span {
		font-weight: 800;
		line-height: 50.35px;
		color: $light-green;
	}
	.how-works_text {
		font-size: 23px;
		font-weight: 500;
		line-height: 26px;
		color: $light_grey;
		margin-bottom: 83px;
		text-align: center;
		@media (max-width: 720px) {
			font-size: 18px;
			line-height: 22px;
			max-width: 325px;
			margin-bottom: 72px;
			// order: 2;

			br {
				display: none;
			}
		}
	}
}

.how-works_slider {
	display: flex;
	flex-direction: row;
}
.left_items,
.right_items {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 560px;
	padding: 35px 0 25px 0;
	@media (max-width: 720px) {
		padding: 0;
		margin: 10px 10px 0 0;
		height: 100%;
	}
}

.how-works_slider div span:nth-child(2) {
	margin-bottom: 13px;
	@media (max-width: 720px) {
		margin-bottom: 0;
	}
}
.mobile_enable {
	display: none;
}
.mobile_disable {
	display: inherit;
}
#benefitItems_title_slider {
	display: none;
	font-size: 22px;
	font-weight: 800;
	line-height: 50.35px;
	color: $light_green;
	margin-top: 54px;

	.slider_span {
		color: $black;
	}
	@media (max-width: 720px) {
		display: inline;
		order: 3;
	}
}
@media (max-width: 720px) {
	.how-works_slider {
		flex-direction: column;
		align-items: center;
	}
	.slider {
		order: 2;
	}
	.left_items {
		order: 4;
		span {
			order: 1;
		}
	}
	.right_items {
		order: 5;
	}
	.mobile_enable {
		display: inherit;
	}
	.mobile_disable {
		display: none;
	}
}
