.button_black {
	background-color: $black;
	color: $white;
	border-radius: 5px;
	@include flex_row;
	align-items: center;
	justify-content: center;
	font-weight: 800;
	font-size: 24px;
	padding: 17px 29px 17px 35px;

	img {
		padding-right: 18px;
	}
}

.button_small {
	font-size: 16.9px;
	padding: 12px 21px 12px 28px;
	img {
		padding-right: 11.2px;
		width: 32px;
		height: 32px;
	}
}
