.splide {
	width: 279px;
	height: 642px;
}
.wrap_splide {
	margin: 0 100px;
}
.splide_bgi {
	width: 400px;
	height: 400px;
	background: $light_green;
	position: absolute;
	border-radius: 50%;
	top: 80px;
	left: -61px;
}
.splide__pagination {
	margin-top: 50px;
	li {
		button {
			background: $light_green;
			margin-right: 2px;
			opacity: 0.3;
			width: 12.77px;
			height: 12.77px;
		}
		button.is-active {
			background: $light_green;
			opacity: 1;
			transform: scale(1);
		}
	}
}
