.splide {
	width: 279px;
	height: 642px;
	@media (max-width: 720px) {
		width: 223px;
		height: 504px;
	}
}
.wrap_splide {
	margin: 0 100px;
}
.splide_bgi {
	width: 400px;
	height: 400px;
	background: $light_green;
	position: absolute;
	border-radius: 50%;
	top: 80px;
	left: -61px;
	@media (max-width: 720px) {
		width: 320px;
		height: 320px;
		top: 65px;
		left: -49px;
	}
}
.splide__pagination {
	margin-top: 50px;
	li {
		button {
			background: $light_green;
			margin-right: 2px;
			opacity: 0.3;
			width: 12.77px;
			height: 12.77px;
			@media (max-width: 720px) {
				width: 10.41px;
				height: 10.41px;
				margin-right: 0px;
			}
		}
		button.is-active {
			background: $light_green;
			opacity: 1;
			transform: scale(1);
		}
	}
}
