.tere_item {
	width: 290px;
	display: flex;
	flex-direction: column;
	@media (max-width: 720px) {
		width: 320px;
		margin-bottom: 45px;
	}
}
.tere_item:nth-child(4) {
	@media (max-width: 720px) {
		margin-bottom: 0px;
	}
}
.left {
	align-items: start;
	@media (max-width: 720px) {
		align-items: center;
		text-align: center;
	}
}
.right {
	align-items: end;
	@media (max-width: 720px) {
		align-items: center;
	}
	.tere_item_subtitle {
		text-align: right;
		text-align: center;
	}
}
.number_wrap {
	background-image: url("../../../img/tere_item_bgi.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 61px;
	height: 61px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 5px;
	p {
		font-weight: 800;
		font-size: 34.11px;
		line-height: 37.02px;
		color: $light-green;
		// костыль, у шрифта над цифрой появляется какой-то отступ
		margin-top: -7px;
	}
	@media (max-width: 720px) {
		margin-bottom: -4px;
	}
}

.tere_item_title {
	font-size: 22px;
	font-weight: 800;
	line-height: 50.35px;
}

.tere_item_subtitle {
	font-size: 20px;
	font-weight: 500;
	line-height: 26px;
	color: $light_grey;
}
